@import '../../styles/commons';

.help-wrapper {
  position: absolute;
  z-index: 10000;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  min-height: 90vh;
  max-height: 190vh;
  overflow: scroll;
  width: 95vw;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: $large-shadow;

  .help-close-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .help-close {
      color: $green;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  h2 {
    color: $green;
    margin-bottom: 60px;
    font-size: 2rem;
  }

  .help-section {
    margin-bottom: 60px;

    .help-section-heading {
      color: $green;
      font-size: 1.4rem;
    }

    .help-section-text {
      line-height: 1.6rem;

      a {
        color: $green;
        text-decoration: none;
      }
    }

    .help-image {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .help-wrapper {
    padding: 20px;

    h2 {
      font-size: 1.4rem;
    }

    .help-section {
      .help-section-heading {
        font-size: 1.2rem;
      }
    }
  }
}
