@import '../../../styles/commons';

.download-btn {
  background-color: $green;
  color: $white-text;
  padding: 16px 32px;
  border-radius: 50px;
  border: none;
  font-size: 1.3rem;
  margin: 60px;
  cursor: pointer;

  &:disabled {
    opacity: $btn-disabled-opacity;
  }

  &:focus {
    outline: none;
  }
}
