$search-padding: 12px;
$search-grid-padding: 25px;
$search-text-color: #222;
$btn-green: rgb(76, 175, 80);

.search {
    background-color: rgb(197, 208, 194);
    background-image: url('../../images/bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;
    color: $search-text-color;

    .call-to-action {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2rem;
        font-weight: 200;
    }

    .search-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 550px;
        padding: $search-grid-padding;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.5);

        .search-label {
            padding: $search-padding;
            align-self: flex-start;
        }

        .search-text {
            font-size: 1rem;
            padding: $search-padding;
            border: none;
            width: 100%;
            color: $search-text-color;
            background-color: rgba(0, 0, 0, 0);
            border-bottom: 1px solid #666;
            transition: border-bottom-color 1s;

            &:focus {
                outline: none;
                border-bottom-color: $btn-green;
            }
        }

        .search-btn-link-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
            margin-top: $search-grid-padding;

            .search-submit-button {
                margin: 0;
                padding: $search-padding;
                padding-left: 24px;
                padding-right: 24px;
                font-size: 1rem;
                border: none;
                border-radius: 50px;
                color: #EEE;
                font-weight: 200;
                background-color: $btn-green;
                cursor: pointer;

                &:disabled {
                    opacity: .7;
                }

                &:focus {
                    outline: none;
                }
            }

            .search-help-link {
                padding: $search-padding;
                color: $btn-green;
            }
        }
    }
}