.lessons-card {
    border: 1px solid #DDD;
    margin: 10px 10px 10px 0;
    padding: 10px;
    background-color: white;
    opacity: .7;

    &:nth-child(1) {
        margin-left: 10px;
    }

    .lessons-card-select-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1rem;

        span {
            margin-right: 10px;
        }
    }

    .lessons-card-header {
        max-width: 300px;

        h3 {
            text-align: center;
            font-size: 1.5rem;
        }

        h4 {
            text-align: center;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &.selected {
        opacity: 1;

        .lessons-card-header h3 {
            color: #4caf50;
        }
    }
}
